// Загальні стилі
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// Стилі для контейнера списку завдань
.to_do_list_conteiner {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

    // Стилі для вводу завдань та кнопки додавання
    .to_do_list_body {
        display: flex;
        margin-bottom: 20px;

        .to_do_list_input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .to_do_list_button {
            padding: 10px;
            background-color: #4caf50;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #45a049;
            }
        }
    }

    // Стилі для фільтра
    .to_do_list_filter {
        margin-bottom: 20px;

        .to_do_list_select {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

    // Стилі для відображення завдань
    .to_do_list_display {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;

        // Стилі для кожного завдання
        .to_do_task {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 4px;
            display: flex;
            align-items: center;

            span {
                margin-right: 10px;
            }

            .to_do_title {
                flex: 1;
            }

            .to_do_check img,
            .to_do_delete img {
                width: 20px;
                height: 20px;
                cursor: pointer;
                margin: 5px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
.to_do_task.completed {
  
    background-color: #d3d3d3; 
    text-decoration: line-through; 
    opacity: 0.6; 
}
